---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mghaas.dev">
    <div class="h-screen w-screen flex flex-col justify-center items-center text-red-500">
        <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-5xl">click me!</a>
        <p class="mt-3">project still in development</p>
        <p>pls ⭐ on
            <a class="underline" target="_blank" href="https://github.com/MartinGHaas/mghaas.dev">
                GitHub
            </a>
        </p>
    </div>
</Layout>
