---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mghaas.dev">
    <div class="h-screen w-screen flex justify-center items-center">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-3xl text-blue-400">click me!</a>
    </div>
</Layout>
