---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import DevPage from "@/components/DevPage.astro";
---

<Layout title="Projects">
  <Header />
  <main class="min-h-[80vh] px-4">
    <DevPage
      title="Projects"
      description="Showcasing builds and experiments soon."
    />
  </main>
</Layout>
