---
import { Button } from "@/components/ui/button";
import GithubIcon from "../../lib/icons/GithubIcon.astro";
---

<div class="w-full flex flex-col items-center mt-32">
  <h1 class="dev-heading font-bold">In development!</h1>
  <div class="flex mt-5">
    <Button>
      <GithubIcon />
      View on Github
    </Button>
  </div>
</div>
